* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f6f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.beans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  div {
    width: 60px;
    height: 1px;
    background-color: #000000;
  }
  img {
    margin: 0 25px;
  }
}
.white {
  div {
    background-color: #ffffff;
  }
}

a {
  text-decoration: none;

}

footer {
  padding-top: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}


.back {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
  text-decoration: none;
  margin: 20px 0;
  font-size: 24px;
}